<%- include('includes/header.ejs') %>
  <div class="posts">
    <% posts.forEach((post=> { %>
      <div class="post">
        <%- `<p class="title"><a href="${post.url_str}">${post.title}</a><span class="url">
            <a href="/from?id=${post.url_str}">
              (${post.url_str})</a></span></p>`
          %>
      </div>
      <%})) %>
  </div>
  </div>
  </body>

  </html>
