<%- include('includes/header.ejs') %>
  <div class="posts">
    <% posts.forEach((post=> { %>
      <div class="post">
        <%= `${post.url_str} --- ${post.title} --- ${post.description_str} `%>
      </div>
      <%})) %>
  </div>
  </div>
  </body>

  </html>
