<%- include('includes/html_top.ejs') %>
  <% if (message) {%>
    <div class="message">
      <%= message %>
    </div>
    <%}%>
      <form action="/login" method="post">
        <p>Login</p>
        <label>
          username: <input type="text" name="un" size="20" autocapitalize="none" spellcheck="false" autofocus="true">
        </label>
        <br>
        <label>
          password: <input type="password" name="pass" size="20" autocapitalize="none" spellcheck="false"
            autofocus="true" autocomplete="false">
        </label>
        <br>
        <input type="submit" value="login">
      </form>
      <form action="/login" method="post">
        <p>signup</p>
        <input type="hidden" name="new" value="true">
        <label>
          username: <input type="text" name="un" size="20" autocapitalize="none" spellcheck="false" autofocus="true">
        </label>
        <br />
        <label>
          password: <input type="password" name="pass" size="20" autocapitalize="none" spellcheck="false"
            autofocus="true">
        </label>
        <br>
        <input type="submit" value="signup">
      </form>
