<%- include('includes/header.ejs') %>
  </body>
  this is submit page
  <form action="/submit-link" method="post">
    <label for="url">URL:</label>
    <input type="text" name="url" id="url" required><br />
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required><br />
    <label for="des">Description:</label>
    <input type="text" name="des" id="des" required><br />
    <input type="submit" value="submit">
  </form>

  </html>
