<%- include('includes/header.ejs') %>
  </body>
  <form action="/submit-link" method="post" autocomplete="off">
    <input type="hidden" name="username" value="<%= username %>">
    <label for="url">URL:</label>
    <input type="text" name="url" id="url" required><br />
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required><br />
    <label for="des">Description:</label>
    <textarea name="description" id="des"></textarea><br />
    <input type="submit" value="submit">
  </form>

  </html>
