/* https://coolors.co/9ac4f8-99edcc-cb958e-e36588-9a275a */
:root {
  --link-color: #9A275A;
  --main-brand: #9ac4f8
}

#outermost {
  margin: auto;
  width: 85%;
}

nav {
  background-color: var(--main-brand);
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav .left,
nav .right {
  display: flex;
  flex-wrap: wrap;
}

nav .nav_item {
  padding: 5px 10px;
}

nav a {
  color: var(--link-color);
}

#nav_logo {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
  #outermost {
    width: 100%
  }
}
